/*

  Table of Contents

      Global Variables
      Animations
      Reset
      Elements
        UI
        Typography
      Sections
        Header
        Hero
        About
        Services
        Gallery
        Pricing
        Contact
        Footer
      Media Queries

*/


/* Global Variables */


:root {
  font-size: 62.5%;
  letter-spacing: .05rem;
  --s-font-size: 1.3rem;
  --main-font-size: 1.5rem;
  --scale: 1.25;
  --font-vw: .2vw;
  --letter-spacing: calc(.5rem + .4vw);
  --p-size: calc(var(--main-font-size) + var(--font-vw));
  --h3-size: calc(var(--p-size) * var(--scale) + var(--font-vw));
  --h2-size: calc(var(--h3-size) * var(--scale) + var(--font-vw));
  --h1-size: calc(var(--h2-size) * var(--scale) + var(--font-vw));
  --border-radius: 1.25rem;
  --anim-duration: 1s;
  --anim-delay: 0.2s;
  --anim-delay-start: 0.5s;
  --primary-color: hsl(212, 66%, 45%);
  --secondary-color: hsl(214, 89%, 55%);
  --white-color: hsl(0, 0%, 98%);
  --black-color: hsl(0, 0%, 10%);
  --p-color: hsl(0, 4%, 33%);
  --lighter-text-color: hsl(0, 0%, 90%);
  --main-gradient: -webkit-linear-gradient(
    left,
    var(--primary-color), 
    var(--secondary-color)
  );
  --main-shadow: hsla(0, 0%, 0%, 0.4) 0rem 5rem 10rem -2rem,
    hsla(0, 0%, 0%, 0.4) 0rem 3rem 6rem -3rem;
  --second-shadow: hsla(212, 66%, 45%, 0.2) 0rem 5rem 10rem -2rem,
    hsla(214, 89%, 55%, 0.2) 0rem 3rem 6rem -3rem;
  --button-shadow: hsla(0, 0%, 0%, 0.1) 0rem 1rem 1.5rem -.2rem,
    hsla(0, 0%, 0%, 0.1) 0rem .3rem 2rem -.3rem;
  --second-button-shadow: hsla(212, 66%, 45%, 0.2) 0rem 1rem 2rem -.2rem,
    hsla(214, 89%, 55%, 0.2) 0rem .3rem 2rem -.3rem;
  cursor: url(https://bit.ly/3FKWsLe), pointer;
  caret-color: var(--primary-color);
  scroll-behavior: smooth;
}

@-moz-document url-prefix() {
  :root {
  cursor: auto;
  }
  }

/* Animations */

@keyframes drop {
  from {
    transform: translateY(-10rem);
    opacity: 0;
  }
  to {
    transform: translateY(0rem);
    opacity: 1;
  }
}

@-webkit-keyframes slide-in-right {
  from {
    opacity: 0;
    position: relative;
    transform: translateX(5vw);
  }
  to {
    opacity: 1;
    position: relative;
  }
}

@keyframes slide-in-right {
  from {
    opacity: 0;
    position: relative;
    transform: translateX(5vw);
  }
  to {
    opacity: 1;
    position: relative;
  }
}

@-webkit-keyframes slide-in-left {
  from {
    opacity: 0;
    visibility: hidden;
    position: relative;
    transform: translateX(-5vw);
  }
  to {
    opacity: 1;
    position: relative;
  }
}

@keyframes slide-in-left {
  from {
    opacity: 0;
    visibility: hidden;
    position: relative;
    transform: translateX(-5vw);
  }
  to {
    opacity: 1;
    position: relative;
  }
}

@keyframes appear {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}

@keyframes slide {
	0% {transform:translateX(-300%);}
	100% {transform:translateX(300%);}
}


/* Reset */


* {
  margin: 0rem;
  padding: 0rem;
  box-sizing: border-box;
  font-family: 'Titillium Web', sans-serif;
  
}

:focus {
  outline: none;
}

::selection {
  background-color: var(--secondary-color);
  color: var(--white-color);
}


/* Elements */


/* UI */

button {
  display: flex;
  align-items: center;
  justify-content: center;
  cursor: pointer;
  padding: 1rem;
  width: calc(11.5rem + 1vw);
  height: calc(4rem + .5vw);
  border-radius: var(--border-radius);
  text-transform: uppercase;
  letter-spacing: .2rem;
  font-size: calc(.9rem + .1vw);
  text-decoration: none;
  font-weight: 500;
  border-style: none;
  background-color: transparent;
  box-shadow: var(--button-shadow);
  transition: all .3s ease;
}

button:is(:hover, :focus) {
  outline: none;
  box-shadow: var(--second-button-shadow);
}

img {
  border-radius: var(--border-radius);
}

input[type="text"], textarea {
  background-color: var(--white-color);
}

.pros-list li {
  /* padding-inline-start: 1rem; */
}

.pros-list li::marker {
  font-family: "Font Awesome 5 Free";
  font-weight: 900;
  content: "\f054";
  transform: translateX(1rem);
  color: var(--primary-color);
}

::-webkit-scrollbar {
  width: 1.75em;
  height: 1em;
}

::-webkit-scrollbar-track {
  background: linear-gradient(0deg, hsl(214, 89%, 55%), hsl(212, 66%, 45%));
  border-radius: 100vw;
  margin-block: 0.5em;
}

::-webkit-scrollbar-thumb {
  background: linear-gradient(0deg, hsl(214, 89%, 55%), hsl(212, 66%, 45%));
  border-block: 0.1em solid var(--white-color);
  border-radius: 100vw;
}

::-webkit-scrollbar-thumb:hover {
  background:linear-gradient(0deg, hsl(214, 89%, 60%), hsl(212, 66%, 50%));
}

@supports (scrollbar-color: red blue) {
  * {
    scrollbar-color: var(--primary-color) hsl(214, 89%, 70%);
    scrollbar-width: thin;
  }
}

/* Typography */

h1 {
  font-weight: bolder;
  color: var(--black-color);
  font-size: var(--h1-size);
  line-height: calc(4rem + .7vw);
}

h2 {
  font-weight: bold;
  color: var(--black-color);
  font-size: var(--h2-size);
  line-height: calc(3rem + .6vw);
}

h3 {
  margin-block: 2rem;
  color: var(--black-color);
  font-weight: bold;
  font-size: var(--h3-size);
  line-height: calc(2rem + .5vw);
}

p {
  font-size: var(--p-size);
  line-height: calc(1.5rem + .4vw);
  color: var(--p-color);
  font-weight: lighter;
}

#title {
  margin-block-start: 6rem;
}

.spaced-text {
  text-transform: uppercase;
  letter-spacing: var(--letter-spacing);
  margin-bottom: 0;
  -webkit-animation: slide-in-left var(--anim-duration) both;
          animation: slide-in-left var(--anim-duration) both;
}

.card-heading {
  font-weight: bold;
}

::-webkit-input-placeholder {
  text-align: left;
  color: hsl(0, 0%, 59%);
}

::-moz-placeholder {
  text-align: left;
  color: hsl(0, 0%, 59%);
}

:-ms-input-placeholder {
  text-align: left;
  color: hsl(0, 0%, 59%);
}

::-ms-input-placeholder {
  text-align: left;
  color: hsl(0, 0%, 59%);
}

::placeholder {
  text-align: left;
  color: hsl(0, 0%, 59%);
}

a {
  text-decoration: none;
}

.head-li a {
  text-decoration: none;
  cursor: pointer;
  color: var(--primary-color);
}

ul {
  list-style: none;
}


/* Sections */

html {
  
  scroll-padding-block-start: 17vh;
}

body {
  background-color: var(--white-color);
}

main {
  margin-block-start: 3rem;
  width: 85%;
  /* height: 85vh; */
  /*scroll-snap
  overflow: auto;
  scroll-snap-type: y mandatory; */
  margin-inline: auto;
}

section {
  display: flex;
  min-height: 85vh;
  /* scroll-snap-align: center; */
  flex-direction: column;
  justify-content: center;
  margin-block-end: 20vh;
  
}

/* Header */

header {
  height: 10rem;
}

#head-nav {
  position: fixed;
  top: 0;
  display: flex;
  width: 100vw;
  height: 10rem;
  padding-block: 1rem;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  flex-wrap: wrap;
  background-color: var(--white-color);
  box-shadow: var(--button-shadow);
  z-index: 2;
  animation: drop var(--anim-duration);
}

.logo-container {
  display: flex;
  margin-inline-start: 7.5vw;
  aspect-ratio: 1;
  width: 7rem;
}

.logo-container a {
  display: flex;
}

.logo {
  border-radius: 50%;
}

#head-ul {
  padding-block: 1rem;
}

.nav-wrapper {
  display: flex;
  margin-inline-end: 7.5vw;
}
nav li{
  margin-inline-start: 2rem;
}
nav li a{
  text-decoration: none;
  font-size: var(--p-size);
  font-weight: 500;
  padding: 1.5rem;
  letter-spacing: .1rem;
  transition: .1s;
}

nav li a:is(:hover, :focus, :active), .head-li.current a{
  border-bottom: .3rem solid var(--secondary-color);
  color: var(--secondary-color);
}

.menu-btn i{
  transform: rotateX(45deg);
  font-size: 2.6rem;
  background: var(--main-gradient);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  cursor: pointer;
  display: none;
  margin-inline-end: 7.5vw;
}
input[type="checkbox"]{
  display: none;
}

li .icons {
  display: none;
}

/*.progress-bar {
  position: relative;
  z-index: -1;
  width: 100vw;
  height:100% !important;
  background: rgb(2,0,36);
  background: -moz-linear-gradient(45deg, rgba(2,0,36,1) 0%, rgba(38,127,242,1) 0%, rgba(39,110,190,1) 50%, rgba(255,255,255,1) 50%, rgba(255,255,255,1) 100%);
  background: -webkit-linear-gradient(45deg, rgba(2,0,36,1) 0%, rgba(38,127,242,1) 0%, rgba(39,110,190,1) 50%, rgba(255,255,255,1) 50%, rgba(255,255,255,1) 100%);
  background: linear-gradient(45deg, rgba(2,0,36,1) 0%, rgba(38,127,242,1) 0%, rgba(39,110,190,1) 50%, rgba(255,255,255,1) 50%, rgba(255,255,255,1) 100%);
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr="#020024",endColorstr="#ffffff",GradientType=1);
}*/

/* Hero */

.hero {
  margin-block-start: 4rem;
  flex-direction: row;
  flex-wrap: wrap;
  align-items: center;
}

.hero-content {
  flex: 1;
  display: flex;
  flex-direction: column;
  justify-content: center;
  margin-block: calc(2rem + .2vw);
  margin-inline-end: calc(3rem + .2vw);
}

.hero-header {
  -webkit-animation: slide-in-left var(--anim-duration) .2s both;
          animation: slide-in-left var(--anim-duration) .2s both;
}

.hero-paragraph {
  padding-block: calc(1.5rem + 2vw);
  margin-block: calc(1.5rem + 2vw);
  -webkit-animation: slide-in-left var(--anim-duration) .4s both;
          animation: slide-in-left var(--anim-duration) .4s both;
}

.hero-image-wrapper {
  overflow: hidden;
  display: flex;
  flex: 1;
  margin: auto;
  width: 30vw;
  max-width: 50rem;
  position: relative;
  -webkit-animation: slide-in-right var(--anim-duration) both;
          animation: slide-in-right var(--anim-duration) both;
  box-shadow: var(--button-shadow);
  transition: all .4s;
  z-index: 0;
}

.hero-image {
  width: 100%;
  height: auto;

}

:is(.hero-image-wrapper, .recommended):after {
  
	content:'';
  top:0;
	transform:translateX(100%);
	width:100%;
	height:100%;
	position: absolute;
	z-index:1;
	animation: slide 6s infinite;
  background: linear-gradient(to right, rgba(255,255,255,0) 20%,rgba(255,255,255,0.7) 40%,rgba(128,186,232,0) 60%,rgba(125,185,232,0) 80%);
}

.cta {
  display: flex;
  width: 100%;
}

.cta-primary {
  background-image: var(--main-gradient);
  color: var(--white-color);
  -webkit-animation: slide-in-left var(--anim-duration) .6s both;
          animation: slide-in-left var(--anim-duration) .6s both;
}

.cta-primary:is(:hover, :focus) {
  background-color: var(--secondary-color);
}

.cta-secondary {
  background: var(--main-gradient);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  -webkit-animation: slide-in-left var(--anim-duration) .7s both;
          animation: slide-in-left var(--anim-duration) .7s both;
}

.cta-secondary:is(:hover, :focus) {
  color: var(--secondary-color);
}

.btn-wrapper {
  position: relative;
  transform: translateX(3rem);
}

.scroll-arrow {
  transform: scale(.7);
  width: 100%;
  display: flex;
  justify-content: center;
}

/* About */

.about-content {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  margin-block-end: 5rem;
}

.about-image-wrapper, .about-p {
  margin: 3rem;
}

.about-image-wrapper {
  display: flex;
  justify-content: center;
  flex: 1;
}

.about-image {
  height: 30rem;
  width: 40rem;
  object-fit: cover;
  box-shadow: var(--button-shadow);
}

.about-p {
  min-width: 30%;
  display: flex;
  justify-content: center;
  align-items: center;
  flex: 1;
}

.about .cta-secondary {
  margin-inline: auto;
}

/* Services */

.section-title {
  margin-inline: auto;
  text-align: center;
  padding-block: 1rem;
  margin-block-end: 10rem;
  text-transform: uppercase;
  background: var(--main-gradient);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  letter-spacing: var(--letter-spacing);
  animation: slide-in-left var(--anim-duration) both;
}

.card-heading,
.card-icon,
.card-p, .card .cta-secondary {
  margin-block: 2.5rem;
  padding: 1.5rem;
}

.cards {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-evenly;
}

.card {
  display: flex;
  flex-direction: column;
  flex: 1;
  justify-content: space-between;
  box-shadow: var(--button-shadow);
  border-radius: var(--border-radius);
  margin: 4rem;
  padding: 2rem;
  padding-block: 6rem;
  text-align: center;
  transition: all .3s;
  min-width: 30rem;
  max-width: calc(30rem + 3vw);
}

.card-heading {
  color: var(--black-color);
  font-weight: 500;
  font-size: calc(var(--h3-size));
}

.card-p {
  margin-top: 0;
  font-size: var(--p-size);
}

.card-icon img{
  width: calc(6rem + 1vw);
  height: calc(6rem + 1vw);
}

.card .cta-secondary {
  margin-inline: auto;
}

.card:is(:hover, :focus) {
  transform: scale(1.025);
  box-shadow: var(--second-shadow);
}

/* Gallery */

.section-title#title {
  margin-block-end: 0rem;
}

.category-select {
  width: 50%;
  margin-inline :auto;
  margin-top: 6rem;
  padding: 1rem;
  min-width: 13rem;
  border-radius: var(--border-radius);
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  box-shadow: var(--button-shadow);
  animation: slide-in-left var(--anim-duration) var(--anim-delay) both;
}

.select {
  display: flex;
  align-items: center;
  justify-content: center;
  flex: 1;
  margin: 1rem;
  padding: 2.5rem 1rem;
  min-width: 10rem;
  max-width: 15rem;
  border-radius: var(--border-radius);
  box-shadow: var(--button-shadow);
  cursor: pointer;
  transition: .3s;
}

.select:hover {
  box-shadow: var(--second-button-shadow);
}

.select-p {
  text-align: center;
  line-height: 1.2;
  white-space: nowrap;
  transition: .3s forwards;
}

.select-p:hover {
  background: var(--main-gradient);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}

.gallery-pictures {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}

.category-title, .project-title, .category-logo {
  display: flex;
  justify-content: center;
}

.category-logo {
  border-radius: 50%;
  height: 6rem;
  width: 6rem;
  margin-top: 10rem;
}

#wrap-designs {
  animation: slide-in-left var(--anim-duration) calc(var(--anim-delay) + var(--anim-delay)) both;
}

.category-title {
  align-items: center;
  width: 100%;
  margin-block-end: 8rem;
  animation: slide-in-left var(--anim-duration) calc(var(--anim-delay) + var(--anim-delay) + var(--anim-delay)) both;
}

.project-title {
  width: 100%;
  margin-inline: 3rem;
  margin-block-end: 4rem;
  text-align: center;
  animation: slide-in-left var(--anim-duration) calc(var(--anim-delay) + var(--anim-delay) + var(--anim-delay) + var(--anim-delay)) both;
}

.gallery-picture-wrapper {
  
  display: flex;
  position: relative;
  width: 31%;
  height: 40rem;
  margin: 1rem;
  margin-block-start: 2rem;
}

.wider {
  width: 47%;
}

.first-image {
  animation: appear var(--anim-duration) var(--anim-delay-start) both;
}

.second-image {
  animation: appear var(--anim-duration) calc(var(--anim-delay-start) + var(--anim-delay)) both;
}

.third-image {
  animation: appear var(--anim-duration) calc(var(--anim-delay-start) + var(--anim-delay) + var(--anim-delay)) both;
}

.fourth-image {
  animation: appear var(--anim-duration) calc(var(--anim-delay-start) + var(--anim-delay) + var(--anim-delay) + var(--anim-delay)) both;
}

.fifth-image {
  animation: appear var(--anim-duration) calc(var(--anim-delay-start) + var(--anim-delay) + var(--anim-delay) + var(--anim-delay) + var(--anim-delay)) both;
}

.sixth-image {
  animation: appear var(--anim-duration) calc(var(--anim-delay-start) + var(--anim-delay) + var(--anim-delay) + var(--anim-delay) + var(--anim-delay) + var(--anim-delay)) both;
}

.gallery-picture-wrapper img{
  width: 100%;
  border-radius: var(--border-radius);
  -o-object-fit: cover;
     object-fit: cover;
  vertical-align: middle;
  box-shadow: var(--button-shadow);
}

.overlay {
  position: absolute;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 100%;
  padding: 2.5rem;
  border-radius: var(--border-radius);
  opacity: 0;
  transition: .3s;
}

.overlay-button {
  margin-block-start: 2rem;
  color: var(--white-color);
  border: .2rem solid var(--white-color);
}

.overlay-heading {
  margin-block-end: 1.5rem;
  text-align: center;
  color: var(--white-color);
  font-weight: 500;
}

.overlay-category {
  margin-block-end: 0;
  text-align: center;
  font-size: var(--s-font-size);
  color: var(--lighter-text-color);
}

.overlay:is(:hover, :focus) {
  opacity: 1;
  background: rgba(0, 0, 0, .6);
  box-shadow: var(--second-shadow);  
}

.gallery .cta-secondary {
  display: block;
  margin-inline: auto;
  margin-block-start: 6rem;
}

/* Pricing */

.recommended {
  padding-block-start: 0;
  padding-inline: 0;
  transform: scale(1.1);
  background: var(--main-gradient);
  overflow: hidden;
}

.recommended:hover {
  transform: scale(1.15);
}

.recommended>*:not(.cta-secondary), .recommended .pros::marker {
  color: var(--white-color);
}

.spaced-text-wrapper {
  background: var(--white-color);
}

.recommended .spaced-text {
  padding-block: 1rem;
  border-top-left-radius: var(--border-radius);
  border-top-right-radius: var(--border-radius);
  width: auto;
  background: var(--main-gradient);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}
.pros-list {
  display: inline-block;
  margin-block: 4rem;
}

.pros {
  display: inline-block;
  line-height: 2;
  font-size: var(--s-font-size);
}


.price {
  background: var(--main-gradient);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}

.recommended #price {
  color: var(--white-color);
}

.pros:not(:last-child)::after {
	content: '\A OR';
  display: block;
}

sup {
  font-size: initial;
  font-weight: 100;
}

.recommended .cta-secondary {
  background: var(--white-color);
  color: var(--primary-color);
  -webkit-text-fill-color: unset;
}

/* Contact */

form {
  display: flex;
  flex: 1;
  flex-wrap: wrap;
  box-shadow: var(--button-shadow);
  border-radius: var(--border-radius);
  margin: 2rem;
  margin-block-end: 4rem;
  padding: calc(2rem + .5vw);
  padding-block-end: calc(5rem + .5vw);
  transition: all .3s;
}

.form-column {
  align-items: center;
  display: flex;
  flex: 1;
  height: 100%;
  flex-direction: column;
  margin: calc(2rem + .5vw);
  margin-block-end: calc(5rem + 1vw);
  min-width: 30rem;
}

.upload {
  align-items: flex-start;
}

.form-column p {
  text-align: left;
}
/* 
.file-upload {
  display: flex;
  align-self: flex-start;
  justify-items: center;
}
.file-upload label {
  display: flex;
  cursor: pointer;
  width: 1.5rem;
  height: 1.5rem;
  margin-inline: 1rem;
  margin-block-start: 2.1rem;
  align-items: center;
} */

.fas, .fab {
  transition: .3s;
  font-size: 1.8rem;
  position: relative;
}

/* .fa-paperclip {
  background: var(--main-gradient);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}*/

.choose-par {
  margin-block-end: 2rem;
} 

.option-list {
  margin-bottom: 2rem;
}

.option-item {
  display: flex;
  margin-block-end: 1rem;
}

input[type=text], textarea {
  display: flex;
  font-size: var(--s-font-size);
  color: var(--p-color);
  border-style: none;
  box-shadow: var(--button-shadow);
  border-radius: var(--border-radius);
  outline: none;
  transition: .3s;
}

input[type=text] {
  width: 90%;
  height: 5rem;
  margin-block-end: 3rem;
  padding: 1rem;
}

input[type=radio] {
  margin-inline-end: 2rem;
  width: 1.5rem;
  height: 1.5rem;
}

textarea {
  height: 12rem;
  width: 100%;
  padding: 2rem 1rem;
  resize: none;
}

:is([type=text], textarea):focus {
  box-shadow: var(--second-button-shadow);
}

label {
  font-size: var(--s-font-size);
  color: var(--p-color);
}
 
input[type=file] {
  display: flex;
  align-self: start;
  margin-top: 2rem;
}

p.small-paragraph {
  margin-block-start: 2rem;
  font-size: var(--s-font-size);
}

.form-btn-wrapper {
  display: flex;
  width: 100%;
  height: 5rem;
  align-self: flex-end;
  justify-content: center;
}

button[type=submit] {
  display: flex;
  margin: 4rem auto;
  margin-block-start: 1rem;
}

/* Footer */

footer {
  position: relative;
  bottom: 0;
  background: linear-gradient(180deg, #2981F2 0%, #276EBF 100%);
  padding: 12rem 5rem;
  padding-bottom: 2rem;
  cursor: auto;
}

.footer-content {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
  margin-inline: 7.5vw;
  margin-bottom: 10rem;
}

.footer-column {
  display: flex;
  width: calc(80% / 3);
  min-width: 25rem;
  flex-direction: column;
  justify-content: center;
  margin: 2rem;
}

.footer-headline, .footer-title {
  display: flex;
  color: var(--white-color);
  align-items: center;
  margin-block-end: 2rem;
}

.footer-headline {
  min-width: 18rem;
}

footer .icons {
  display: flex;
  width: 10rem;
  justify-content: space-between;
  margin-block-end: 2rem;
}

footer .fab, footer .fas {
  cursor: pointer;
  width: 2rem;
  height: 2rem;
  transition: all .2s;
  border-radius: 0;
  color: var(--white-color);
}

.fa-envelope {
  display: flex;
  align-items: center;
  font-size: 1.8rem;
}

.contact-mail .fas {
  margin-inline-end: 1rem;
}

.contact-mail p {
  display: inline;
  margin-block-end: 0;
}

.contact-mail a {
  display: flex;
  align-items: center;
}

.contact-mail {
  display: flex;
  flex-direction: row;
  align-items: center;
}

.footer-text{
  display: flex;
  min-width: 20rem;
  margin-block-end: 0;
}

.footer-link a, .footer-text, #copyright, .mail-label {
  color:var(--lighter-text-color);
  font-size: var(--main-font-size);
  transition: .3s;
}

.footer-link {
  margin: 2rem;
  margin-inline-start: 0;
  
  min-width: 8.5rem;
}

.footer-link a {
  width: max-content;
  cursor: pointer;
}

.footer-link a:is(:hover, :focus) {
  color: var(--white-color);
  border-bottom: .1rem solid var(--white-color);
}

.copyright {
  display: flex;
  justify-content: center;
  width: 100%;
  margin-bottom: 0;
  color: var(--white-color);
}


/* Media Queries */


@media all and (max-width:1200px){
  .gallery-picture-wrapper {
    width: 47%;
    height: 30rem;
  }
}

@media all and (max-width: 1023px) {
  
  section {
    margin-block-end: 15rem;
  }

  nav li {
    margin-inline: .5rem;
  }

  nav li a {
    font-size: 1.6rem;
  }
  
  .hero {

    flex-direction: column;
    justify-content: center;
  }

  .hero-content {
    text-align: center;
    height: 40vh;
    margin-block: 5vw;
    margin-inline-end: 0;
    align-items: center;
  }

  .cta {
    justify-content: space-evenly;
  }

  .btn-wrapper {
    position: relative;
    transform: translateX(0);
  }

  .hero-image-wrapper {
    display: flex;
    flex: none;
    align-self: center;
    width: 40rem;
  }

  .scroll-arrow {
    margin-top: 4rem;
  }

  textarea#fmessage {
    height: 14rem;
  }

  .footer-column {
    align-items: center;
  }

  .footer-link {
    text-align: center;
  }

  .footer-headline {
    display: flex;
    justify-content: center;
  }

  .footer-text {
    text-align: justify;
  }

  .footer-link {
    margin-inline-start: 2rem;
  }

  .contact-mail {
    justify-content: center;
  }

  .contact-mail a {
    justify-content: center;
  }

}

@media all and (max-width:911px) {

  input[type=text], textarea {
    max-width: 40rem;
    text-align: center;
  }

  ::-webkit-input-placeholder {
    text-align:center;
  }

  ::-moz-placeholder {
    text-align:center;
  }

  :-ms-input-placeholder {
    text-align:center;
  }

  ::-ms-input-placeholder {
    text-align:center;
  }

  ::placeholder {
    text-align:center;
  }

  .about-p {
    text-align: center;
  }

  .file-upload {
    margin: auto;
  }
}

@media all and (max-width:800px) {

  section {
    margin-block-end: 10rem;
  }

  #head-nav {
    height: 7rem;
  }

  .nav-wrapper {
    margin-inline-end: 0;
  }

  nav ul {
    margin-inline-end: 0;
  }

  .logo-container{
    height: 5rem;
    width: 5rem;
  }

  #head-ul {
    flex-direction: column;
  }
  .menu-btn i {
    display: block;
  }
  #click:checked ~ i:before{
    content: "\f00d";
  }
  #head-nav ul{
    display: flex;
    align-items: center;
    justify-content: space-between;
    position: relative;
    transform: translateX(110vw);
    background-color: var(--white-color);
    height: 95vh;
    width: 100%;
    text-align: center;
    transition: all .3s ease;
    z-index: 3;
  }
  #click:checked ~ ul{
    transform: translateX(0vw);
  }
  nav li{
    width: 100%;
    margin: 1rem 0;
  }
  nav li a{
    width: 100%;
  }

  .nav-wrapper {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    width: 100%;
    height: 70%;
    padding-block-start: 15rem;
    padding-block-end: 3rem;
  }

  .icons a {
    color: var(--primary-color);
  }

  li .icons {
    margin-bottom: 5rem;
    display: flex;
    justify-content: space-evenly;
  }

  .icons a {
    height: 2.1rem;
    width: 2.1rem;
    padding: 0;
  }

  .icons a:is(:hover, :focus) {
    border-bottom: none;
  }

 #click:checked ~ a{
    margin-inline-start: 0;
  }

  .hero {
    position: relative;
    bottom: 4rem;
  }

  .category-logo {
    height: 5rem;
    width: 5rem;
  }

  #title {
      margin-block-start: 0rem;
    }
  
  .select {
    margin: .7rem;
    padding: 1rem;
  }

  .gallery-picture-wrapper {
    height: auto;
    width: 90%;
    max-height: 40rem;
  }

  footer {
    padding-block: 5rem;
  }

  .footer-column {
    margin: 3rem;
  }

}

@media all and (max-width:650px) {

  input[type=text], textarea {
    max-width: 40rem;
  }

 
}

@media all and (max-width: 530px){

  .section-title {
    margin-block-end: 5rem;
  }

  .hero-content {
    height: 30vh;
  }
  
  .hero-image-wrapper {
    width: 100%;
  }

  .hero-image {
    width: 100%;
    height: auto;
  }

  .scroll-arrow {
    margin-block-start: 3rem;
  }

  .about-image {
    width: 70vw;
    height: auto;
  }

  .card  {
    margin-inline: 0;
    min-width: 80%;
  }

  .gallery-picture-wrapper {
    width: 90%;
    height: auto;
    max-height: initial;
  }

  .overlay-heading {
    margin-block-end: .5rem;
  }

  .form-column {
    margin: 2rem 0;
    min-width: 20rem;
  }

  input[type=text], textarea {
    max-width: 30rem;
    text-align: center;
  }

}

@media all and (max-width: 400px) {

  .cta-primary {
    margin-inline-end: 1rem;
  }

  .cta-secondary {
    margin-inline-start: 1rem;
  }

  form {
    margin: 0;
  }

  input[type=text] {
    height: 4rem;
  }

}