/* Global Variables */

:root {
  font-size: 62.5%;
  --main-font-size: 1.2rem;
  --scale: 1.125;
  --font-vw: 0.5vw;
  --p-size: calc(var(--main-font-size) + 0.4vw);
  
  --border-radius: 1.5rem;

  --primary-color: rgba(39, 110, 191, 1);
  --secondary-color: rgba(41, 129, 242, 1);
  --p-color: #665f5f;
  --main-gradient: linear-gradient(
    261.75deg,
    var(--primary-color) 0%,
    var(--secondary-color) 99.31%
  );
  --main-shadow: rgba(0, 0, 0, 0.25) 0rem 5rem 10rem -2rem,
    rgba(0, 0, 0, 0.3) 0rem 3rem 6rem -3rem;
  --second-shadow: rgba(39, 110, 191, 0.2) 0rem 5rem 10rem -2rem,
    rgba(41, 129, 242, 0.2) 0rem 3rem 6rem -3rem;
  --button-shadow: rgba(0, 0, 0, 0.08) 0rem 1rem 1.5rem -0.2rem,
    rgba(0, 0, 0, 0.08) 0rem 0.3rem 2rem -0.3rem;
  --second-button-shadow: rgba(39, 110, 191, 0.1) 0rem 1rem 2rem -0.2rem,
    rgba(41, 129, 242, 0.1) 0rem 0.3rem 2rem -0.3rem;
  scroll-behavior: smooth;
}

/* Loader */

#loader {
  height: 100vh;
  width: 100vw;
  background: white;
}

#ellipse {
  width: 10rem;
  height: 10rem;
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  margin: auto;
  animation: circular 2s linear infinite;
}

#logo {
  width: 7.5rem;
  height: 7.5rem;
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  margin: auto;
}

/* Animations */

@keyframes circular {
  0% {
    transform: rotate(0deg) translate(-5rem);
  }
  100% {
    transform: rotate(360deg) translate(-5rem);
  }
}

@keyframes slide-in-right {
  from {
    opacity: 0;
    position: relative;
    right: -5vw;
  }
  to {
    opacity: 1;
    position: relative;
    right: 0vw;
  }
}

@keyframes slide-in-left {
  from {
    opacity: 0;
    visibility: hidden;
    position: relative;
    left: -5vw;
  }
  to {
    opacity: 1;
    position: relative;
    left: 0vw;
  }
}

@keyframes appear {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}

@keyframes disappear {
  from {
    opacity: 1;
  }
  to {
    opacity: 0;
  }
}

/* Content */

* {
  margin: 0rem;
  padding: 0rem;
  box-sizing: border-box;
  font-family: "Poppins", sans-serif;
}

/*body {
  width: 80vw;
  margin: auto;
}
*/
/* UI */

button {
  display: flex;
  align-items: center;
  justify-content: center;
  cursor: pointer;
  padding: 1rem;
  width: calc(11rem + 1.2vw);
  height: calc(3rem + 1.2vw);
  border-radius: var(--border-radius);
  text-transform: uppercase;
  letter-spacing: .2rem;
  font-size: calc(.7rem + 0.2vw);
  border-style: none;
  transition: 0.3s;
}

button:hover {
  scale: 105%;
  box-shadow: var(--second-button-shadow);
}

/* Typography */

h1 {
  font-weight: bold;
  font-size: calc(2.7rem + 0.7vw);
  line-height: calc(4rem + 0.7vw);
}

h2 {
  font-weight: bold;
  font-size: calc(2.2rem + 0.6vw);
  line-height: calc(3rem + 0.6vw);
}

h3 {
  font-weight: bold;
  font-size: calc(var(--p-size) * var(--scale) + 0.5vw);
  line-height: calc(2rem + 0.5vw);
}

p {
  font-size: var(--p-size);
  line-height: calc(1.5rem + 0.4vw);
  color: var(--p-color);
}

#spaced-text {
  letter-spacing: calc(0.5rem + 0.4vw);
  animation-name: slide-in-left;
  animation-duration: 2s;
  animation-fill-mode: both;
}

.card-heading {
  font-weight: bold;
}

/* Main Content */

main {
  width: 80vw;
  margin: auto;
}


.above-the-fold {
  max-height: 100vh;
  margin-bottom: 5rem;
}


/* Header */

li,
a {
  text-decoration: none;
  font-size: calc(1.2rem + 0.2vw);
}

header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin: auto;
  height: 20vh;
  animation-name: appear;
  animation-duration: 2s;
  animation-fill-mode: both;
}

.logo-container {
  display: flex;
  flex: 1;
  width: 10vw;
  min-width: 5rem;
  min-height: 5rem;
}

.logo {
  height: calc(7rem + 0.4vw);
  cursor: pointer;
  height: auto;
  min-width: 5rem;
  max-width: 8rem;
  min-height: 5rem;
}

nav {
  flex: 2;
}

.btn-container {
  display: flex;
  flex: 1;
  justify-content: flex-end;
}

#header-btn {
  animation-name: appear;
  animation-duration: 2s;
  animation-fill-mode: both;
}

.nav-links {
  display: flex;
  list-style: none;
  justify-content: space-around;
}

.nav-link {
  color: var(--primary-color);
}

.nav-links li a {
  transition: 0.3s;
}

.nav-links li a:hover {
  color: var(--secondary-color);
  font-size: 105%;
}

/*.menu {
  display: none;
}

.layout {
  display: none;
}*/



/* Hero Section */

.hero {
  display: flex;
  flex-wrap: wrap;
  margin: auto;
  align-items: center;
  min-height: 80vh;
}

.hero-content {
  flex: 1;
  display: flex;
  flex-direction: column;
  justify-content: center;
  margin-block: calc(2rem + 0.2vw);
  margin-right: calc(3rem + 0.2vw);
}

.hero-header {
  animation-name: slide-in-left;
  animation-duration: 2s;
  animation-delay: 0.2s;
  animation-fill-mode: both;
}

.hero-paragraph {
  padding-block: calc(1.5rem + 2vw);
  margin-block: calc(1.5rem + 2vw);
  animation-name: slide-in-left;
  animation-duration: 2s;
  animation-delay: 0.4s;
  animation-fill-mode: both;
}

.hero-image-wrapper {
  flex: 1;
  margin: auto;
  justify-content: end;
  width: 30vw;
}

.hero-image {
  height: auto;
  width: 100%;
  border-radius: var(--border-radius);
  animation-name: slide-in-right;
  animation-duration: 2s;
  animation-fill-mode: both;
  box-shadow: var(--main-shadow);
  transition: box-shadow 0.4s;
}

.cta {
  display: flex;
  align-items: flex-end;
}

.hero-image:hover {
  box-shadow: var(--second-shadow);
}

.cta-primary {
  margin-right: 3rem;
  background-color: var(--primary-color);
  color: white;
  animation-name: slide-in-left;
  animation-duration: 2s;
  animation-delay: 0.6s;
  animation-fill-mode: both;
}

.cta-secondary {
  background: white;
  border: 0.2rem solid var(--primary-color);
  color: var(--primary-color);
  animation-name: slide-in-left;
  animation-duration: 2s;
  animation-delay: 0.8s;
  animation-fill-mode: both;
}

/* Services */

#services {
  height: 100vh;
}

.h2-wrapper {
  display: flex;
  justify-content: center;
}

.section-title {
  display: inline;
  text-align: center;
  text-transform: uppercase;
  color: var(--primary-color);
  letter-spacing: .3rem;
}

.card-heading,
.card-icon,
.card-p,
.card-button {
  margin: 1.5rem;
  padding: 1.5rem;
}

.cards {
  position: relative;
  display: flex;
  top: 10vh;
  flex-wrap: wrap;
  justify-content: space-evenly;
}

.card {
  display: flex;
  flex-direction: column;
  flex: 1;
  box-shadow: var(--button-shadow);
  border-radius: 2rem;
  margin: 4rem;
  padding: 2rem;
  padding-block: 6rem;
  text-align: center;
  transition: 0.3s;
  height: auto;
  min-width: calc(25rem + 3vw);
  max-width: calc(30rem + 3vw);
}

.card-heading {
  color: black;
  font-weight: 400;
}

.card-p {
  font-size: 1.4em;
  margin-top: 0rem;
}

.card-icon {
  margin-bottom: 0.5rem;
}

#card-button {
  margin-inline: auto;
  margin-top: 1rem;
}

.card:hover {
  scale: 105%;
  box-shadow: var(--second-shadow);
}


/* Media Queries */

@media all and (max-width: 1000px) {
  .hero {
    flex-direction: column;
    justify-content: center;
  }

  .hero-content {
    text-align: center;
    height: 40vh;
    margin-block: 5vw;
    margin-right: 0;
    align-items: center;
  }

  .logo {
    width: 8.5vw;
  }

  .hero-image-wrapper {
    display: flex;
    flex: none;
    align-self: center;
    width: 40rem;
    margin-bottom: 3rem;
  }

  .h2-wrapper {
    position: relative;
    top: 7rem;
  }

}

@media all and (max-width:800px) {
  header {
    display: flex;
    height: 10vh;
    margin-block: 3vh;
    justify-items: space-between;
  }

  .nav-links, #header-btn {
    display: none;
  }

  .btn-container {
    display: none;
  }

  /* Menu */
  .burger {
    display: flex;
    flex-direction: column;
    height: 3.5rem;
    justify-content: space-evenly;
  }
  
  .burger div{
    width: 3rem;
    height: 0.3rem;
    background: var(--primary-color);
    border-radius: .5rem;
  }

}

@media all and (max-width: 530px){
  .hero-image-wrapper {
    width: 80vw;
    margin-top: 5vw;
  }

  .hero-image {
    width: 100%;
    height: auto;
  }

  .h2-wrapper {
    position: relative;
    top: 5rem;
  }
  
}
