* {
  margin: 0px;
  padding: 0px;
  box-sizing: border-box;
  font-family: "Poppins", sans-serif;
}

h1 {
  font-style: normal;
  font-weight: bold;
  font-size: 40px;
  line-height: 69px;
}

p {
  font-style: normal;
  font-weight: normal;
  font-size: 20px;
  line-height: 55px;
  color: #554E4E;
}

main {
  padding: 0px 10% 0px 10%;
}

li,
a {
  text-decoration: none;
}

header {
  display: flex;
  justify-content: space-around;
  align-items: center;
  margin: auto;
  width: 80%;
  height: 20vh;
}

.logo-container,
.nav-links,
.cart {
	display: flex;
}

.logo-container {
  cursor: pointer;
  flex: 1;
}

.logo-container img {
  height: 80px;
}

nav {
	flex: 2;
}

.nav-links {
  list-style: none;
  justify-content: space-around;
}

/*.nav-links li {
  display: inline-block;
  padding: 0px 20px;
}*/

.nav-link {
  color: #276EBF;
}

.nav-links li a {
  transition: all 0.3s ease 0s;
}

.nav-links li a:hover {
  color: #2981F2;
}

.cart {
  flex: 1;
  justify-content: flex-end;
}

.cart img {
  height: 30px;
}

.hero {
  display: flex;
  margin: auto;
  min-height: 80vh;
  align-items: center;
}

.hero-content {
  flex: 1;
}

#spaced-text {
  font-style: normal;
  font-weight: normal;
  font-size: 20px;
  line-height: 229.9%;

  /* or 60px */
  display: flex;
  align-items: center;
  letter-spacing: 0.5em;

  color: #000000;
}

.cta {
  margin-top: 50px;
}

.cta-buy {
  cursor: pointer;
  padding: 16px 35px;
  width: 150px;
  height: 50px;
  background: linear-gradient(261.75deg, #276EBF 0%, #2981F2 99.31%);
  border: none;
  border-radius: 10px;
  color: white;

}

.cta-more {
  margin: 30px 0px 0px 30px;
  cursor: pointer;
  width: 150px;
  height: 50px;
  background: white;
  border-color: #276EBF;
  border-radius: 10px;
  color: #276EBF;
}

.hero-image {
  flex: 1;
  display: flex;
  justify-content: end;
  height: 40vh;
  
}

.hero-image img{
  height: 100%;
  box-shadow: 8px 9px 20px 1px rgba(0, 0, 0, 0.35);
  border-radius: 25px;
}
